#container {
  @include container;
  max-width: 100%;
}
.session-speakers,
.workshop-speakers{
  li {
    width: 20%;
  }
}
// .hive {
//   max-width: ($hex-width*5)+($hex-margin)*4;
//   &#keynotes {
//     max-width: ($hex-width*4)+($hex-margin)*3;
//   }
//   width: ($hex-width*5)+($hex-margin)*4;
//   // reset from the previous mq
//   li:nth-child(5n+1),
//   li:nth-child(5n+2),
//   li:nth-child(5n+3),
//   li:nth-child(5n+4),
//   li:nth-child(5n+5) {
//     float: left;
//   }
//   li:nth-child(9n-8) {
//     margin-left: 0;
//   }
//   li:nth-child(9n-7),
//   li:nth-child(9n-6),
//   li:nth-child(9n-5),
//   li:nth-child(9n-4),
//   li:nth-child(9n-2),
//   li:nth-child(9n-1),
//   li:nth-child(9n-0) {
//     margin-left: $hex-margin;
//   }
//   li:nth-child(9n-3) {
//     margin-left: 105px;
//   }
//   li.more{
//     margin-left: $hex-width*2+($hex-margin)*2;
//   }
// }

//--------------------------------------------------------
// basic content
//--------------------------------------------------------
.basic-content {
  #masthead {
    h1 {
      text-align: center;
    }
  }
}

article {
  padding-left: 0;
  padding-right: 0;
}

//--------------------------------------------------------
// newsletter / updates
//--------------------------------------------------------
#be-notified {
  .email-subscription {
    width: columns(8);
    input {
      margin-right: 2%;
      text-align: left;
      text-indent: 10px;
      width: 50%;
    }
    button {
      margin-bottom: 0;
      width: 48%;
    }
  }
  .social-subscription {
    padding: 0 0 0 $baseline*4;
    width: columns(6);
  }
  .and {
      left: -28%;
    &:before, &:after {
      display: block;
    }
  }
}

#schedule, #skinny {
  .schedules,
  ul {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-container-width;
  }
}

//--------------------------------------------------------
// schedule / sessions
//--------------------------------------------------------
.session-groups {
  @include clearfix;
  .day, .time {
    clear: both;
  }
  .day h4 {
    font-size: 1.2em;
  }
  .session {
    @include clearfix;
    .user-experience, .design, .front-end, .back-end {
      @include span(3 of 12);
    }
    .back-end {
      @include omega;
    }
  }
}
//--------------------------------------------------------
// sponsors
//--------------------------------------------------------
#sponsors {
  ul {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-container-width;
  }
  .title {
    li {

    }
  }
  .primary {
    li {

      &:first-child {
        // @include push(2);
      }
      &:last-child {

        // @include remove-omega;
      }
    }
  }
  .secondary {
    li {

      &:nth-child(even) {

      }
      &:nth-child(3n) {

        // @include omega();
      }
      &:nth-child(4n) {

      }
      &:last-child {

      }
    }
  }
  .tertiary,
  .community {
    li {

    }
  }
  .tertiary li {
    &:nth-child(6n) {

    }
    &:nth-child(9n) {

    }
  }
}

.sponsor-logos {
  li {
    @include span(3 of 12);
    &:nth-child(even),
    &:nth-child(3n) {
      @include span(3 of 12);
    }
    &:nth-child(4n) {
      @include omega;
    }
  }
}
