@include with-grid-settings(16) {
  #container {
    @include container;
    @include susy-grid-background;
    max-width: 100%;
  }
  ul.hive {
    max-width: ($hex-width*5)+($hex-margin)*4;
    &#keynotes {
      max-width: ($hex-width*4)+($hex-margin)*3;
    }
    width: ($hex-width*5)+($hex-margin)*4;
    // reset from the previous mq
    li:nth-child(5n+1),
    li:nth-child(5n+2),
    li:nth-child(5n+3),
    li:nth-child(5n+4),
    li:nth-child(5n+5) {
      float: left;
    }
    li:nth-child(9n-8) {
      margin-left: 0;
    }
    li:nth-child(9n-7),
    li:nth-child(9n-6),
    li:nth-child(9n-5),
    li:nth-child(9n-4),
    li:nth-child(9n-2),
    li:nth-child(9n-1),
    li:nth-child(9n-0) {
      margin-left: $hex-margin;
    }
    li:nth-child(9n-3) {
      margin-left: 105px;
    }
  }

  //--------------------------------------------------------
  // newsletter / updates
  //--------------------------------------------------------
  #be-notified {
    .email-subscription {
      width: columns(8);
      input {
        margin-right: 2%;
        width: columns(8);
      }
      button {
        width: columns(7);
      }
    }
    .social-subscription {
      padding: 0 0 0 $baseline*4;
      width: columns(6);
    }
    .and {
        left: -20%;
      &:before, &:after {
        display: block;
      }
    }
  }

  #schedule, #skinny {
    .schedules,
    ul {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-container-width;
    }
  }
  //--------------------------------------------------------
  // sponsors
  //--------------------------------------------------------
  #sponsors {
    ul {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-container-width;
    }
    .title {
      li {
        @include span-columns(7);
        @include push(4.5);
      }
    }
    .primary {
      li {
        @include reset-columns();
        @include span-columns(6);  
        &:first-child {
          @include push(2);
        }
        &:last-child {
          @include remove-omega;
        }
      }
    }
    .secondary {
      li {
        @include reset-columns();
        @include span-columns(4);
        &:nth-child(even) {
          @include remove-omega();
        }
        &:nth-child(3n) {
          @include remove-omega();
          // @include omega();
        }
        &:nth-child(4n) {
          @include omega();
        }
        &:last-child {
          @include push(0);
        }
      }
    }
    .tertiary,
    .community {
      li {
        @include reset-columns();
        @include span-columns(3);
        &:nth-child(even) {
          @include reset-columns();
          @include span-columns(3);
        }
        &:nth-child(4n) {
          @include remove-omega();
        }
        &:nth-child(6n) {
          @include push(1.85);
        }
        &:first-child {
          @include push(.5);
        }
        &:last-child {
          @include push(0);
        }
      }
    }
  }
}


