#container {
  @include container;
  max-width: 100%;
}
.hive {
  max-width: ($hex-width*5)+($hex-margin)*4;
  &#keynotes {
    max-width: ($hex-width*4)+($hex-margin)*3;
  }
  width: ($hex-width*5)+($hex-margin)*4;
  // reset from the previous mq
  li:nth-child(5n+1),
  li:nth-child(5n+2),
  li:nth-child(5n+3),
  li:nth-child(5n+4),
  li:nth-child(5n+5) {
    float: left;
  }
  li:nth-child(9n-8) {
    margin-left: 0;
  }
  li:nth-child(9n-7),
  li:nth-child(9n-6),
  li:nth-child(9n-5),
  li:nth-child(9n-4),
  li:nth-child(9n-2),
  li:nth-child(9n-1),
  li:nth-child(9n-0) {
    margin-left: $hex-margin;
  }
  li:nth-child(9n-3) {
    margin-left: 105px;
  }
  li.more{
    margin-left: $hex-width*2+($hex-margin)*2;
  }
}

//--------------------------------------------------------
// basic content
//--------------------------------------------------------
.basic-content {
  #masthead {
    h1 {
      text-align: center;
    }
  }
}

article {
  padding-left: 0;
  padding-right: 0;
}

//--------------------------------------------------------
// newsletter / updates
//--------------------------------------------------------
#be-notified {
  .email-subscription {
    width: columns(8);
    input {
      margin-right: 2%;
      width: columns(8);
    }
    button {
      width: columns(7);
    }
  }
  .social-subscription {
    padding: 0 0 0 $baseline*4;
    width: columns(6);
  }
  .and {
      left: -20%;
    &:before, &:after {
      display: block;
    }
  }
}

#schedule, #skinny {
  .schedules,
  ul {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-container-width;
  }
}
//--------------------------------------------------------
// sponsors
//--------------------------------------------------------
#sponsors {
  ul {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-container-width;
  }
  .title {
    li {

    }
  }
  .primary {
    li {

      &:first-child {
        // @include push(2);
      }
      &:last-child {

        // @include remove-omega;
      }
    }
  }
  .secondary {
    li {

      &:nth-child(even) {

      }
      &:nth-child(3n) {

        // @include omega();
      }
      &:nth-child(4n) {

      }
      &:last-child {

      }
    }
  }
  .tertiary,
  .community {
    li {

    }
  }
  .tertiary li {
    &:nth-child(6n) {

    }
    &:nth-child(9n) {

    }
  }
}


