html, body {
  height: 100%;
}
#container {
  height: 100%;
}

#intro {
  float: right;
  // margin: 21px;
  margin: 23px;
  // overflow: auto;
  padding: 115px 38px;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 220px;
  width: 722px;
  #code-of-conduct &,
  #refund-policy & {
    overflow-x: auto;
    &::-webkit-scrollbar * {
      background:transparent;
    }
    &:before,
    &:after {
      // background-color: $yellow;
      height: 125px;
      position: fixed;
      width: 722px;
      z-index: 10;
    }
    &:before {
      @include background-image( linear-gradient($yellow 20%, rgba($yellow, 0)));
      top: 23px;
      right: 23px;
    }
    &:after {
      @include background-image( linear-gradient(darken(rgba($yellow, 0), 10%), darken($yellow, 10%)));
      bottom: 240px;
      right: 23px;
    }
  }
  .wrapper {
    margin-top: -312px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    #code-of-conduct &,
    #refund-policy & {
      margin-top: 0;
      position: inherit;
      top: auto;
    }
  }
  h2 {
    margin: $baseline 0 $baseline*3;
    padding: 0 0 $baseline*3;
  }
  p {
    // font-size: 1.4em;
    margin-bottom: $baseline*3;
  }
}
.button-group {
  text-align: center;
  li {
    display: inline-block;
    margin-right: $sub-baseline*2;
    &:last-child {
      margin-right: 0;
    }
  }
  [class^="button"] {
    width: auto;
  }
}
footer {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  clear: both;
  padding: 38px;
  small {
    clear: both;
    padding-top: $baseline*2;
  }
}
.social-links {
  float: left;
  margin-bottom: 0;
  li {
    width: auto;
    margin-right: $sub-baseline;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    height: 60px;
    width: 60px;
  }
  .icon {
    width: 30px;
  }
}

form {
  float: right;
  margin: -20px 0 0 0;
  padding: 0;
  &:before,
  &:after {
    display: none;
  }
  input, 
  .button-primary {
    display: inline-block;
    width: auto;
  }
  input {
    margin: 0 $sub-baseline*2 0 0;
    width: auto;
  }
  .button-primary {
    width: auto;
  }
}