#container {
  @include container;
  max-width: 100%;
}
#skinny {
  @include clearfix;
  li {

  }
  li:nth-child(even) {

  }
}
#wrapup {
  .quotes {
    @include clearfix;
    li:nth-child(odd) {

    }
    li:nth-child(even) {

    }
  }
}
