// ----------------------------------------------------
// Variables
// Used for grayboxing. To update the theme you should
// TODO: convert this to a function to generate
// with color functions
// ----------------------------------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// --------------------------------------------------
// globals
// --------------------------------------------------
$sub-baseline           : 6px;
$baseline               : $sub-baseline * 3; // 18px

// --------------------------------------------------
// grid
// to be used with Susy
// magically converts pixels to % for a fluid grid
// --------------------------------------------------
$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 4em;
$grid-padding   : 0;
$show-grid-backgrounds  : false;

// --------------------------------------------------
// iOS dimensions
// --------------------------------------------------
$navbar-height: 44px;

// --------------------------------------------------
// responsive breakpoints
// --------------------------------------------------
$breakpoint-tiny      :   320px;
$breakpoint-small     :   480px;
$breakpoint-medium    :   600px;
$breakpoint-large     :   768px;
$breakpoint-huge      :   1080px;
$breakpoint-ginormous :   1400px;

// --------------------------------------------------
// colors
// --------------------------------------------------
$brown              : #69504a !default;
$lavender           : #5e79a6 !default;
$aqua               : #63b3b8 !default;
$yellow             : #e5ba3a !default;
$green              : #86b44e !default;
$red                : #dc563e !default;
$dark-gray          : #3e4243 !default;
$light-gray         : #7f888a !default;
$light-blue         : #bbd5d1 !default;

$color-navbar       : #333 !default;
$color-background   : lighten($color-navbar, 78%) !default;
$color-aside        : lighten($color-navbar, 10%) !default;

$color-body-background: $color-background;
$color-text         : #333 !default;

$color-link         : #08c !default;
$color-link-hover   : darken($color-link, 15%) !default;

// --------------------------------------------------
// hexagons
// --------------------------------------------------
$hexagon-colors: ($aqua, $red, $yellow, $green, $lavender);
$ratio-width: 190px;
$ratio-height: 110px;
$hex-ratio: calc-ratio($ratio-width, $ratio-height);
$hex-width: 190px;
$hex-height: calc-height($hex-width, $hex-ratio);
$hex-margin: 25px;

// --------------------------------------------------
// speakers
// --------------------------------------------------
$speakers: (adam-connor,
            albert-banks,
            amanda-costello,
            anders-frostenson,
            andrew-hinton,
            andrew-maier,
            ashe-dryden,
            ben-vandgrift,
            brandon-mathis,
            bryan-veloso,
            cameron-moll,
            carl-smith,
            garth-braithwaite,
            greg-baugues,
            james-white,
            jason-vanlue,
            jina-bolton,
            joel-van-dyke,
            john-long,
            julie-ann-horvath,
            kendra-shillington,
            larry-staton,
            leslie-j-morse,
            leslie-jensen-inman,
            lisa-welchman,
            magnus-bergmark,
            marco-suarez,
            marc-bolick,
            matt-stevens,
            michael-parenteau,
            michael-chatten,
            mike-bifulco,
            mindy-wagner,
            nick-finck,
            patrick-quattlebaum,
            rachel-nabors,
            rachel-parsons,
            rikki-teeters,
            ron-edelen,
            sara-blake,
            shay-howe,
            teresa-rench,
            tessa-harmon,
            tim-smith,
            vernon-kesner,
            wren-lanier,
            wynn-netherland,
            yesenia-perez-cruz,
            yoko-harada,
            zoe-gillenwater
);

// --------------------------------------------------
// typography
// --------------------------------------------------
$font-family-sans:      "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:     Georgia, "Times New Roman", Times, serif !default;
$font-family-mono:      Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:        14px !default;
$line-height-base:      $baseline !default;

$font-family-headers:   $font-family-sans !default;

// --------------------------------------------------
// z-index
// --------------------------------------------------
$z-index-dropdown:          1000 !default;
$z-index-popover:           1010 !default;
$z-index-tooltip:           1020 !default;
$z-index-fixed:             1030 !default;
$z-index-modal-background:  1040 !default;
$z-index-modal:             1050 !default;
