// Compass needs to be loaded first to allow the use of
// their mixins and various other goodies.
@import "compass";

// Susy is a fixed or fluid width grid system built on
// top of Compass. It needs to be loaded after Compass.
//
// if by chance you get the error "File to import not
// found or unreadable: susy" clean up the sass cache
// & recompile the SASS files with 'compass clean' via
// the command line
@import "susy";

// ----------------------------------------------------------------
// The global file concatenates a series of normalize files,
// variables, and modules so we can service as few CSS files to
// the browser as possible.
// ----------------------------------------------------------------

// Setup
// ----------------------------------------------------------------
@import "base/variables";

// ----------------------------------------------------------------
// Structure
// ----------------------------------------------------------------
@import "structure/functions";
@import "structure/mixins";
@import "structure/utilities";
@import "structure/grid";

// Normalize elements
// ----------------------------------------------------------------
@import "base/root";
@import "base/code";
@import "base/emphasis";
@import "base/fonts";
@import "base/forms";
@import "base/headings";
@import "base/html5";
@import "base/images";
@import "base/links";
@import "base/lists";
@import "base/misc";
@import "base/paragraphs";
@import "base/quotes";
@import "base/tables";

// ----------------------------------------------------------------
// Modules
// ----------------------------------------------------------------
@import "modules/navigation";
@import "modules/buttons";
@import "modules/speakers";
@import "modules/schedule";


//--------------------------------------------------------
// Small Device Styles - Mobile First
// We're starting with tablet in
// portrait mode as our base device
//--------------------------------------------------------
#home div > div[id],
#home div > form[id],
#intro {
  // border-top: 1px solid rgba(#fff, .7);
  padding: $baseline*5 5% $baseline*3;
  position: relative;
  &:before {
    content: "";
    @include arrow(bottom, #000, 50px);
    margin-left: -50px;
    position: absolute;
      top: -1px;
      left: 50%;
  }
  // &:before {
  //   content: "";
  //   @include arrow(bottom, rgba(#fff, .7), 52px);
  //   margin-left: -52px;
  //   position: absolute;
  //     top: -1px;
  //     left: 50%;
  // }
  h2, .h2 {
    max-width: $max-container-width;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    max-width: $max-container-width/1.5;
    text-align: center;
  }
}

h2, .h2 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  position: relative;
  span {
    background-color: inherit;
    display: inline-block;
    padding: 0 $baseline;
    position: relative;
  }
  &:before{
    content: "";
    border-bottom: 1px solid rgba($dark-gray, .3);
    position: absolute;
      top: 50%;
      left: 5%;
      right: 5%;
  }
}
h3, .h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: .1em;
  opacity: .6;
  text-transform: uppercase;
  text-align: center;
}
p, ul {
  font-size: .9em;
  margin: 0 auto 1em;
  max-width: $max-container-width;
  &:last-child {
    margin-bottom: 0;
  }
}
a {
  color: $lavender;
  text-decoration: underline;
}
article {
  background-color: transparent;
  margin: 0 auto;
  padding: $baseline*5 5% $baseline*3;
  position: relative;
  max-width: $max-container-width;
  &:before {
    content: "";
    @include arrow(bottom, $red, 50px);
    margin-left: -50px;
    position: absolute;
      top: -1px;
      left: 50%;
  }
  &.basic-content {
    max-width: $max-container-width/1.4;
    h2 {
      margin-top: $baseline*2;
      margin-bottom: $baseline;
      span {
        background-color: #fafafa;
      }
    }
    h3 {
      line-height: 1.3;
    }
    p {
      text-align: center;
    }
    ul {
      padding-left: $baseline;
    }
    li {
      margin-bottom: $sub-baseline;
      &:last-child {
        margin-bottom: 0;
      }
    }
    #code-of-conduct &,
    #purpose & {
      p {
        text-align: left;
      }
    }
  }
}

//--------------------------------------------------------
// intro
//--------------------------------------------------------
#intro {
  background-color: $aqua;
  color: $dark-gray;
  padding-top: $baseline*3 !important;
  text-align: center;
  &:before {
    border-top-color: $aqua !important;
  }
  &:before,
  &:after {
    display: none !important;
    // border-top-color: $dark-gray !important;
  }
  .primary-button {
    float: left;
    margin: 1.6%;
    width: 30%;
    &:focus, &:hover {
      color: $aqua;
    }
  }
  .button-group {
    @include clear;
    margin: $baseline*2 auto $baseline;
    max-width: 800px;
    padding: 0 5%;
  }
}
.final-edition-intro {
  padding: 0 10%;
  h1 {
    display: inline-block;
    font-size: 1em;
    font-style: italic;
    margin: 0 auto;
    text-transform: capitalize;
    position: relative;
    &:before {
      background-color: rgba($dark-gray, .3);
      content: "";
      height: 1px;
      position: absolute;
        bottom: -$sub-baseline;
        left: 15%;
        right: 15%;
    }
  }
  img {
    display: block;
    margin: $baseline auto $baseline;
    width: 100%;
    min-width: 275px;
    max-width: 400px;
    
  }
  h2 {
    border: 0;
    font-size: .8em;
    font-style: normal;
    letter-spacing: .3em;
    margin: 0 auto $baseline*2;
    max-width: 400px !important;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    &:before {
      background-color: rgba($dark-gray, .3);
      border: 0;
      content: "";
      height: 1px;
      position: absolute;
        top: -6px;
        left: 7%;
        right: 7%;
    }
    strong {
      display: block;
      font-size: 1.6em;
      font-style: italic;
      letter-spacing: normal;
      margin-bottom: 4px;
      text-transform: capitalize;
    }
  }
  p {
    max-width: 500px;
  }
}

//--------------------------------------------------------
// the skinny
//--------------------------------------------------------
#skinny {
  background-color: $red;
  color: darken($red, 40%);
  &:before {
    border-top-color: $aqua !important;
  }
  h2 span {
    background-color: $red;
  }
  ul {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    line-height: 1.4;
    margin-bottom: $baseline*2;
    padding: 0 2%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  strong{
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  a {
    color: lighten($red, 10%);
    &:hover {
      color: lighten($red, 20%);
    }
  }
  .icon {
    fill: darken($red, 20%);
    margin-bottom: $baseline/2;
    width: 80px;
    
    // fill: rgba(#fff, .2);
  }
}


//--------------------------------------------------------
// newsletter / updates
//--------------------------------------------------------
#be-notified {
  @include clearfix;
  background-color: $dark-gray;
  border-bottom: 1px solid rgba(#fff, .3);
  color: lighten($light-gray, 30%);
  padding: $baseline*3 5%;
  form {
    margin: 0 auto;
    max-width: $max-container-width;
  }
  &:before {
    border-top-color: $red !important;
  }
  label {
    display: block;
    height: auto;
    span {
      background-color: $dark-gray;
    }
    &:before {
      border-color: rgba(#fff, .3);
    }
  }
  input {
    border: 1px solid darken($dark-gray, 10%);
    @include border-radius(4px);
    height: 58px;
    margin-bottom: $sub-baseline;
    padding: $baseline 0;
    text-align: center;
    width: 100%;
  }
  button {
    margin-bottom: $baseline*2;
    width: 100%;
  }
  .and {
    background-color: lighten($dark-gray, 10%);
    @include border-radius($baseline*3);
    display: block;
    height: $baseline*3;
    font-style: italic;
    line-height: $baseline*3;
    margin: 0 auto $baseline*2;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: $baseline*3;
    &:before, &:after {
      background-color: lighten($dark-gray, 10%);
      content: "";
      display: block;
      height: 1px;
      position: absolute;
        top: ($baseline*3)/2;
      width: $baseline*2;
    }
    &:before {
      left: -$baseline*3;
    }
    &:after {
      right: -$baseline*3;
    }
  }
}

//--------------------------------------------------------
// news
//--------------------------------------------------------
#news {
  background-color: $dark-gray;
  color: lighten($dark-gray, 50%);
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}


//--------------------------------------------------------
// speakers
//--------------------------------------------------------
#speakers {
  color: $dark-gray;
  h2 {
    span {
      background-color: $color-body-background;
    }
  }
  &:before {
    border-top-color: $red !important;
  }
  .button {
    background-color: $aqua;
    display: block;
    margin: .5em auto 0;
    &:hover {
      background-color: darken($aqua, 10%);
    }
  }
}

#speaker-detail {
  #masthead {
    a {
      color: fff;
      display: block;
      text-align: center;
    }
  }
}


#speaker-index article {
  p {
    max-width: $max-container-width/1.5;
  }
}
#speakers .tbd-tbd,
#sessions .speaker[href*="tbd-tbd"] {
  display: none !important;
}
#sessions a[href*="tbd"] {
  color: $color-text;
  cursor: default;
  text-decoration: none;
}

.speaker-details {
  img {
    display: block;
    margin: 0 auto $baseline;
    max-width: 200px;
    width: 100%;
  }
  // p {
  //   max-width: 500px;
  // }
}
//--------------------------------------------------------
// schedule
//--------------------------------------------------------
#schedule {
  @include clear;
  background-color: $lavender;
  color: darken($lavender, 40%);
  h2 span {
    background-color: $lavender;
  }
  &:before {
    border-top-color: $color-body-background !important;
  }
  a {
    color: darken($lavender, 40%);
    &:hover, &:focus {
      color: darken($lavender, 30%);
    }
  }
  a.button {
    background-color: darken($lavender, 30%);
    color: lighten($lavender, 30%);
    display: block;
    margin: 0 auto;
    &:hover, &:focus {
      background-color: darken($lavender, 35%);
      color: lighten($lavender, 40%);
    }
  }
  .schedules {
    margin: $baseline*2 0;
    padding: 0;
    list-style: none;
    h4 {
      font-weight: normal;
      font-style: italic;
      margin-bottom: $sub-baseline;
    }
    li {
      margin-bottom: $baseline*2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//--------------------------------------------------------
// venue
//--------------------------------------------------------
#venue {
  background-color: $yellow;
  color: darken($yellow, 40%);
  h2 span {
    background-color: $yellow;
  }
  &:before {
    border-top-color: $lavender !important;
  }
  a {
    color: darken($yellow, 60%);
    text-decoration: underline;
    &:hover {
      color: darken($yellow, 70%);
    }
  }
  a.secondary-button {
    border-color: darken($yellow, 20%);
    // background-color: darken($yellow, 20%);
    // display: block;
    // margin: 0 auto;
    color: darken($yellow, 30%);
    text-decoration: none;
    &:hover, &:focus {
      background-color: darken($yellow, 20%);
      color: lighten($yellow, 10%);
    }
  }
}
//--------------------------------------------------------
// sponsorship
//--------------------------------------------------------
#sponsors {
  background-color: $green;
  color: darken($green, 40%);
  padding: $baseline*3 5%;
  h2 span {
    background-color: $green;
  }
  &:before {
    border-top-color: #fff !important;
  }
  a {
    color: darken($green, 60%);
    text-decoration: underline;
    &:hover {
      color: darken($green, 80%);
    }
  }
  a.secondary-button {
    border-color: darken($green, 20%);
    // background-color: darken($yellow, 20%);
    // display: block;
    // margin: 0 auto;
    color: darken($green, 30%);
    text-decoration: none;
    &:hover, &:focus {
      background-color: darken($green, 20%);
      color: lighten($green, 10%);
    }
  }
  p {
    margin-bottom: $baseline*2;
    max-width: $max-container-width/1.5;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  ul {
    border-bottom: 1px solid lighten($green, 5%);
    @include clearfix;
    margin: 0;
    padding: $baseline*2 0 $baseline;
    list-style: none;
    li {
      background: lighten($green, 10%);
      @include border-radius(4px);
      margin-bottom: $baseline;
    }
    a {
      display: block;
      padding: $baseline;
    }
  }
  .community li,
  .tertiary li {
    @include span(2 of 12);
    &:nth-child(even) {
      @include omega();
    }
    &:last-child {
      @include push(1);
    }
  }
  .tertiary li {
    &:last-child {
      @include push(0);
    }
  }
}
.sponsor-logos {
  li {
    @include span(6 of 12);
    &:nth-child(even) {
      @include omega();
    }
  }
}
//--------------------------------------------------------
// footer
//--------------------------------------------------------
footer[role="contentinfo"] {
  background-color: $dark-gray;
  color: lighten($dark-gray, 50%);
  font-size: .9em;
  padding: $baseline*3 5%;
  text-align: center;
  a {
    color: $light-gray;
    &:hover {
      color: #fff;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}

//--------------------------------------------------------
// masthead
//--------------------------------------------------------
#masthead {
  padding: $baseline*3 5%;
  position: relative;
  &:before {
    content: "";
    @include arrow(bottom, $aqua, 50px);
    margin-left: -50px;
    position: absolute;
      top: -1px;
      left: 50%;
  }
  h2 {
    font-size: 3em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0;
    line-height: .9;
    margin-top: $baseline;
    margin-bottom: 0;
    &:before,
    &:after {
      display: none;
    }
    span {
      backgrond-color: #fff;
    }
  }
  #sessions &,
  #wrapup & {
    background-color: $lavender;
    color: lighten($lavender, 35%);
    &:before {
      border-top-color: $lavender !important;
    }
  }
  #refund-policy & {
    background-color: $red;
    color: lighten($red, 35%);
    &:before {
      border-top-color: $aqua !important;
    }
  }
  #venue-activities & {
    background-color: $yellow;
    color: lighten($yellow, 35%);
    &:before {
      border-top-color: $yellow !important;
    }
  }
  #code-of-conduct &,
  #purpose & {
    background-color: $red;
    color: lighten($red, 35%);
    &:before {
      border-top-color: $aqua !important;
    }
  }
  #speaker-index &,
  #speaker-detail &,
  #session-detail & {
    background-color: $red;
    color: lighten($aqua, 35%);
    &:before {
      border-top-color: $aqua !important;
    }
    a {
      color: lighten($aqua, 35%);
      font-size: 1.2em;
      font-style: italic;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    h2 {
      span {
        background-color: #fff;
      }
    }
    p {
      text-align: center
    }
  }
  h1 {
    font-size: 54px;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: $max-container-width;
  }
}
//--------------------------------------------------------
// sessions
//--------------------------------------------------------
.session-groups{
  padding: $baseline*5 5% $baseline*3;
  h2 {
    font-size: 2.6em;
    margin-bottom: 0;
  }
  h3 {
    font-style: italic;
    font-weight: 200;
    margin: 0 0 $baseline*2 $sub-baseline*2;
  }
  h4.title a {
    display: block;
  }
}
.day {
  padding-bottom: $baseline*2;
  &:last-child {
    padding-bottom: 0;
  }
  .titles {
    display: none;
  }
  ul {
    margin: 0 0 $baseline;;
    padding: 0;
    position: relative;
    list-style: none;
    .time {
      border-bottom: 1px solid lighten($dark-gray, 60%);
      color: lighten($dark-gray, 30%);
      font-weight: normal;
      padding: 0 5% $sub-baseline 0;
    }
  }
  a {
    color: $color-text;
    cursor: pointer;
    font-size: .9em;
    text-decoration: none;
    &:hover, &:focus {
      color: $color-text;
      text-decoration: underline;
    }
  }
  .description {
    padding: $sub-baseline 0 $sub-baseline*2;
  }
  h4 {
    color: $lavender;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2;
    a, a:hover {
      color: $lavender;
    }
  }
  .lunch h4,
  .registration h4 {
      color: $color-text;
  }
  h5 {
    color: lighten($dark-gray, 40%);
    font-size: .8em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: $sub-baseline;
  }

  .speaker {
    font-weight: bold;
    line-height: 1;
    &:after {
      color: lighten($dark-gray, 50%);
      content: "/";
      // display: inline-block;
      font-style: italic;
      font-weight: normal;
      margin: 0 $sub-baseline;
      text-align: center;
    }
    .company {
      line-height: 1;
    }
  }
  // hiding duplicate sessions
  // super hackish but /shrug
  .session-20,
  .session-27,
  .session-25,
  .session-31,
  .session-39 {
    display: none !important; // just in-case something of a higher specificity tries overrides
  }
}

#unicorn-tickets {
  background-color: $aqua;
  text-align: center;
  img {
    display: block;
    margin: 0 auto $baseline*2;
    width: 80%;
  }
  #container {
    margin: 20px auto;
    padding: 5%;
    max-width: 500px;
  }
}


//--------------------------------------------------------
// Wrapup
//--------------------------------------------------------
.wrapup-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
    height: 100%;
  }
}

#wrapup {
  #masthead {
    h1 {
      margin-bottom: $baseline*2;
    }
    .button {
      display: block;
      margin-top: $baseline;
      padding: $baseline/3 $baseline;
      width: 100%;
    }
  }
  .sessions, .articles {
    list-style: none;
    margin: 0;
    padding: 0;
    h3 small {
      font-size: .8em;
    }
    li {
      border-bottom: 1px solid lighten($light-gray, 30%);
      padding: $baseline/2 0 $baseline;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .speaker, .author {
      font-size: .8em;
    }
  }
  .slides {
    display: inline-block;
    font-size: .8em;
    margin-left: $sub-baseline;
  }
  .quotes {
    @include clearfix;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: $baseline 0;
    }
    .tweet {
      margin-right: $baseline/2;
    }
    a {
      display: inline-block;
      text-decoration: none;
      &:before {
        content: "– ";
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#session-detail {
  #masthead {
    a {
      display: block;
      margin: $baseline auto 0;
      text-align: center;
      &:before {
        content: "";
      }
    }
  }
}

.video {
  position: relative;
  margin-bottom: 36px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe, 
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// #intro {
//   &:before {
//     content: "";
//     @include arrow(bottom, $aqua, 50px);
//     margin-left: -50px;
//     position: absolute;
//       top: -1px;
//       left: 50%;
//   }
// }


//--------------------------------------------------------
// Small Device Styles - Mobile First
// We're starting with tablet in
// portrait mode as our base device
//--------------------------------------------------------
// Mobile
//--------------------------------------------------------
@media only screen and (min-width: $breakpoint-small) {
  @import "responsive/small";
}

// Tablet
//--------------------------------------------------------
@media only screen and (min-width: $breakpoint-medium) {
  @import "responsive/medium";
}

@media only screen and (min-width: 700px) {
}

// Desktop
//--------------------------------------------------------
@media only screen and (min-width: $breakpoint-large) {
  @import "responsive/large";
}
@media only screen and (min-width: $breakpoint-huge) {
  @import "responsive/huge";
}

// Retina/High Density Displays
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
//   @import "responsive/hdd";
// }
