@import "bourbon";
@import "susy";

@import "structure/functions";
@import "structure/variables";
@import "structure/mixins";
@import "base/fonts";

body {
  background: #ccc url('/assets/images/layout/blendconf-bg-2.jpg') right center no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $dark-gray;
  font: 100% "Open Sans";
  position: relative;
  &:after {
    content: "";
    background-color: rgba($yellow, .5);
    position: absolute;
      top: -5%;
      left: 0;
      right: 0;
      bottom: 0;
    z-index: 0;
  }
}

#intro {
  @extend %clearfix;
  background-color: rgba($yellow, .9);
  @include background-image( linear-gradient(rgba($yellow, 0), rgba(darken($yellow, 10%), .5)));
  margin: 3%;
  padding: 15% 5%;
  position: relative;
    z-index: 1;
  img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
  h2 {
    font-size: .9em;
    letter-spacing: .2em;
    margin: 3% 0 10%;
    padding: 3% 0 10%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    &:before {
      border-bottom: 3px solid darken($yellow, 20%);
      content: "";
      position: absolute;
        bottom: -1px;
        left: 40%;
        right: 40%;
    }
  }
  p {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.6;
    margin: 0 auto 10%;
    max-width: 500px;
    text-align: center;
  }
}

.button-group {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: $baseline/2;
    &:last-child {
      margin-bottom: none;
    }
  }
}
%button {
  @include transition(all 200ms ease-in);
  background-color: $red;
  border: 2px solid $red;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: .2em;
  padding: $baseline $baseline*2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: darken($red, 5%);
    border-color: darken($red, 5%);
  }
}
.button-primary {
  @extend %button;
}
.button-secondary {
  @extend %button;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

form {
  margin: $baseline*3 0 $baseline*3;
  padding: $baseline 0 $baseline*2;
  position: relative;
  &:before {
    border-top: 3px solid $light-gray;
    content: "";
    position: absolute;
      top: -1px;
      left: 40%;
      right: 40%;
  }
  &:after {
    border-bottom: 3px solid $light-gray;
    content: "";
    position: absolute;
      bottom: -1px;
      left: 40%;
      right: 40%;
  }
  label {
    @extend %hide-text;
    height: 0;
  }
  button {
    display: block;
    width: 100%;
  }
  input {
    border: 2px solid $light-gray;
    border-radius: 2px;
    display: block;
    font-size: .9em;
    padding: $baseline $baseline;
    margin-bottom: $baseline/2;
    width: 100%;
  }
}

footer {
  @extend %clearfix;
  background-color: #efefef;
  padding: 12% 8%;
  position: relative;
  z-index: 1;
  small {
    display: block;
    font-size: .9em;
    text-align: center;
  }
}
.social-links {
  @extend %clearfix;
  list-style: none;
  margin: 0 0 $baseline;
  padding: 0;
  li {
    float: left;
    width: 33.33333%;
  }
  a {
    background-color: #ccc;
    border-radius: 80px;
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    @extend %hide-text;
  }
  .icon {
    fill: $dark-gray;
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 50px;
  }
}
.important-items {
  font-size: .9em;
  list-style: none;
  margin: $baseline/2 0 0;
  padding: 0;
  text-align: center;
  li {
    border-right: 1px solid $light-gray;
    display: inline-block;
    margin-right: $sub-baseline;
    padding-right: $sub-baseline;
    &:last-child {
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
  a {
    color: $aqua;
    display: block;
  }
}
// @media print {
//   @import "themes/print";
// }

// Mobile
//--------------------------------------------------------
// @media only screen and (min-width: $breakpoint-small) {
//   @import "responsive/small";
// }

// Tablet
//--------------------------------------------------------
@media only screen and (min-width: $breakpoint-medium) {
  @import "responsive/medium";
}

// Desktop
//--------------------------------------------------------
@media only screen and (min-width: $breakpoint-large) {
  @import "responsive/large";
}
@media only screen and (min-width: $breakpoint-huge) {
  @import "responsive/huge";
}

// Retina/High Density Displays
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
//   @import "responsive/hdd";
// }
