// Light
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 200;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/OpenSans-LightItalic.ttf) format('ttf');
}

// Normal
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/OpenSans-Italic.ttf) format('ttf');
}

// SemiBold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/OpenSans-Semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/OpenSans-SemiboldItalic.ttf) format('ttf');) format('woff2');
}
