// ----------------------------------------------------------------
// Helper Mixins & Extends
// ----------------------------------------------------------------
%form-element-basics {
  line-height: $field-line-height;
  height: $field-height;
  padding: 0 $field-padding;
}

// ----------------------------------------------------------------
// Root Form Element
// ----------------------------------------------------------------
form {
  @include clear;
  @if $legacy-support-for-ie {
    margin: 0; // Corrects margin displayed oddly in IE6/7
  }
}

// ----------------------------------------------------------------
// Fieldsets
// ----------------------------------------------------------------
// Define consistent border, margin, and padding
fieldset {
  // border: 1px solid #c0c0c0;
  @include clear;
  clear: both;
  margin: 0;
  padding: 0;
}

// 1. Corrects color not being inherited in IE6/7/8/9
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
// 3. Corrects text not wrapping in FF3
// 4. Corrects alignment displayed oddly in IE6/7
legend {
  border: 0; // 1
  padding: 0; // 2
  white-space: normal; // 3
  @if $legacy-support-for-ie {
    *margin-left: -7px; // 4
  }
}


// ----------------------------------------------------------------
// Basic Form Resets
// ----------------------------------------------------------------

// 1. Correct font family not being inherited in all browsers.
// 2. Corrects font size not being inherited in all browsers
// 3. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// 4. Improves appearance and consistency in all browsers
// ----------------------------------------------------------------
button,
input,
select,
textarea {
  font-family: inherit; // 1
  font-size: 100%; // 2
  margin: 0; // 3
  vertical-align: baseline; // 4
  @if $legacy-support-for-ie {
    *vertical-align: middle; // 4
  }
}

// 1. Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
// 2. Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
// ----------------------------------------------------------------
button,
input {
  line-height: normal; // 1
  &::-moz-focus-inner { // 2
    border: 0;
    padding: 0;
  }
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.
// ----------------------------------------------------------------
button,
select {
  text-transform: none;
}

// ----------------------------------------------------------------
// Buttons
// ----------------------------------------------------------------

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Improves usability and consistency of cursor style between image-type
//    'input' and others
// 4. Removes inner spacing in IE7 without affecting normal text inputs
//    Known issue: inner spacing remains in IE6
// ----------------------------------------------------------------
button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
  @if $legacy-support-for-ie {
    *overflow: visible;  // 4
  }
}

// ----------------------------------------------------------------
// Text Inputs
// ----------------------------------------------------------------
input:not([type="checkbox"]),
input:not([type="radio"]) {
  @extend %form-element-basics;
  &::-webkit-input-placeholder{
    padding-top: 2px;
  }
}


// ----------------------------------------------------------------
// Disabled Inputs
// ----------------------------------------------------------------
// Re-set default cursor for disabled elements
button[disabled],
input[disabled],
textarea[disabled],
select[disabled],
fieldset[disabled] input,
fieldset[disabled] button,
fieldset[disabled] select,
[data-disabled="true"] {
  cursor: no-drop;
  cursor: not-allowed;
}

// ----------------------------------------------------------------
// Textarea
// ----------------------------------------------------------------
// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers
// temporary scoping
textarea {
  @extend %form-element-basics;
  height: auto;
  line-height: 1.4;
  overflow: auto; // 1
  vertical-align: top; // 2
}

// ----------------------------------------------------------------
// Search
// ----------------------------------------------------------------
// 1. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
// 2. Addresses appearance set to searchfield in S5, Chrome
// 3. Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
// temporary scoping
.field input[type="search"] {
  @include box-sizing(content-box); // 1
  @extend %form-element-basics;
  -webkit-appearance: textfield; // 2
  &::-webkit-search-cancel-button, // 3
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

// ----------------------------------------------------------------
// Labels
// ----------------------------------------------------------------
label {
  @extend %form-element-basics;
  padding-left: 0;
}

// ----------------------------------------------------------------
// Help Text
// ----------------------------------------------------------------
.help-text {
  font-size: 90%;
  line-height: 1.2;
  padding-top: $sub-baseline/2;
  padding-bottom: 0;
}

// ----------------------------------------------------------------
// Required
// ----------------------------------------------------------------
abbr[title] {
  border: 0;
}

// ----------------------------------------------------------------
// Checkbox & Radio Buttons
// ----------------------------------------------------------------
// 1. Addresses box sizing set to content-box in IE8/9
// 2. Removes excess padding in IE8/9
// 3. Removes excess padding in IE7
//    Known issue: excess padding remains in IE6
// ----------------------------------------------------------------
input[type="checkbox"],
input[type="radio"] {
  @include box-sizing(border-box); // 1
  padding: 0; // 2
  @if $legacy-support-for-ie {
    *height: 13px; // 3
    *width: 13px; // 3
  }
}
