// ----------------------------------------------------------------
// Headings
// ----------------------------------------------------------------
// Addresses font sizes and margins set differently in IE6/7
// Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
// ----------------------------------------------------------------
h1, .h1 {
  font: $h1-font-size $header-font-family;
  margin: $h1-margin;
  text-transform: uppercase;
}

h2, .h2 {
  font: $h2-font-size $header-font-family;
  line-height: 1.2;
  margin: $h2-margin;
  text-transform: uppercase;
}

h3, .h3 {
  font: $h3-font-size $header-font-family;
  margin: $h3-margin;
  text-transform: uppercase;
}

h4, .h4 {
  font-size: $h4-font-size;
  margin: $h4-margin;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: $h5-font-size;
  margin: $h5-margin;
}

h6, .h6 {
  font-size: $h6-font-size;
  margin: $h6-margin;
}
