@charset "utf-8";

// ----------------------------------------------------------------
// Global variables
// ----------------------------------------------------------------
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy-support-for-ie: false; // Used also in Compass
$experimental-support-for-svg: true; // adds a base-64 svg for gradients in IE9


// ----------------------------------------------------------------
// Creates a baseline to help calculate a consistent
// rhythm vertical
// ----------------------------------------------------------------
$sub-baseline: 5px;
$baseline: $sub-baseline*4;

// ----------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------
$root-font-size: 100%;

$h1-font-size: 5em;
$h2-font-size: 3em;
$h3-font-size: 1.5em;
$h4-font-size: 1em;
$h5-font-size: 0.83em;
$h6-font-size: 0.75em;

$h1-margin: 0 0 $baseline;
$h2-margin: 0 0 $baseline*2;
$h3-margin: 0 0 $baseline;
$h4-margin: 0 0 $baseline;
$h5-margin: 0 0 $baseline;
$h6-margin: 0 0 $baseline;



// ----------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------
$serif-font-family: "Times New Roman", Sans-serif;
$sans-font-family: "Oswald ", "Helvetica Neue", Helvetica;

$header-font-family: "Oswald", "Helvetica Neue", Helvetica;
$leadin-font-family: "Amaranth", "Georgia";
$base-font-family:   "Open Sans", "Helvetica Neue", Helvetica;

// ----------------------------------------------------------------
// Susy Grid
// ----------------------------------------------------------------
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$show-grid      : false;

// ----------------------------------------------------------------
// Field / Form Variables
// ----------------------------------------------------------------
$field-height: $baseline*2;
$field-line-height: $field-height;
$label-width: 180px;
$field-padding: $sub-baseline;

// --------------------------------------------------
// responsive breakpoints
// --------------------------------------------------
$breakpoint-tiny      :   320px;
$breakpoint-small     :   480px;
$breakpoint-medium    :   600px;
$breakpoint-large     :   768px;
$breakpoint-huge      :   1080px;
$breakpoint-ginormous :   1400px;

// --------------------------------------------------
// colors
// --------------------------------------------------
$brown              : #69504a !default;
$lavender           : #5e79a6 !default;
$aqua               : #63b3b8 !default;
$yellow             : #e5ba3a !default;
$green              : #86b44e !default;
$red                : #dc563e !default;
$dark-gray          : #3e4243 !default;
$light-gray         : #7f888a !default;
$light-blue         : #bbd5d1 !default;

$color-navbar       : #333 !default;
$color-background   : lighten($color-navbar, 78%) !default;
$color-aside        : lighten($color-navbar, 10%) !default;

$color-body-background: $color-background;
$color-text         : #333 !default;

$color-link         : #08c !default;
$color-link-hover   : darken($color-link, 15%) !default;

$root-bg-color  : $dark-gray;
$text-color     : lighten($light-gray, 35%);

// --------------------------------------------------
// z-index
// --------------------------------------------------
$z-index-dropdown:          1000 !default;
$z-index-popover:           1010 !default;
$z-index-tooltip:           1020 !default;
$z-index-fixed:             1030 !default;
$z-index-modal-background:  1040 !default;
$z-index-modal:             1050 !default;
