@charset "utf-8";

// ----------------------------------------------------------------
// Import Compass for CSS3 mixins & Susy for the grid system
// ----------------------------------------------------------------
// @import 'compass';
// @import 'susy';

// ----------------------------------------------------------------
// Global variables
// ----------------------------------------------------------------
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy-support-for-ie: false; // Used also in Compass
$experimental-support-for-svg: true; // adds a base-64 svg for gradients in IE9


// ----------------------------------------------------------------
// Creates a baseline to help calculate a consistent
// rhythm vertical
// ----------------------------------------------------------------
$sub-baseline           : 6px;
$baseline               : $sub-baseline * 3; // 18px
$max-container-width    : 1086px;

// ----------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------
$root-font-size: 100%;

$h1-font-size: 5em;
$h2-font-size: 3em;
$h3-font-size: 1.5em;
$h4-font-size: 1em;
$h5-font-size: 0.83em;
$h6-font-size: 0.75em;

$h1-margin: 0 0 $baseline;
$h2-margin: 0 0 $baseline*2;
$h3-margin: 0 0 $baseline;
$h4-margin: 0 0 $baseline;
$h5-margin: 0 0 $baseline;
$h6-margin: 0 0 $baseline;



// --------------------------------------------------
// typography
// --------------------------------------------------
$font-family-sans:      "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:     Georgia, "Times New Roman", Times, serif !default;
$font-family-mono:      Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:        14px !default;
$line-height-base:      $baseline !default;

$font-family-headers:   $font-family-sans !default;

$base-font-family: $font-family-sans;
$header-font-family: $font-family-headers;


// ----------------------------------------------------------------
// Susy Grid
// ----------------------------------------------------------------
$total-columns  : 4;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$show-grid      : false;

// ----------------------------------------------------------------
// Field / Form Variables
// ----------------------------------------------------------------
$field-height: $baseline*2;
$field-line-height: $field-height;
$label-width: 180px;
$field-padding: $sub-baseline;

// --------------------------------------------------
// responsive breakpoints
// --------------------------------------------------
$breakpoint-tiny      :   320px;
$breakpoint-small     :   480px;
$breakpoint-medium    :   600px;
$breakpoint-large     :   768px;
$breakpoint-huge      :   1080px;
$breakpoint-ginormous :   1400px;

// --------------------------------------------------
// colors
// --------------------------------------------------

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

$brown              : #69504a !default;
$lavender           : #5e79a6 !default;
$aqua               : #63b3b8 !default;
$yellow             : #e5ba3a !default;
$green              : #86b44e !default;
$red                : #dc563e !default;
$dark-gray          : #3e4243 !default;
$light-gray         : #7f888a !default;
$light-blue         : #bbd5d1 !default;

$color-navbar       : #333 !default;
$color-background   : lighten($color-navbar, 78%) !default;
$color-aside        : lighten($color-navbar, 10%) !default;

$color-body-background: $color-background;
$color-text         : #333 !default;

$color-link         : #08c !default;
$color-link-hover   : darken($color-link, 15%) !default;

$root-bg-color  : $dark-gray;
$text-color     : lighten($light-gray, 35%);


// --------------------------------------------------
// hexagons
// --------------------------------------------------
$brand-colors: ($aqua, $red, $yellow, $green, $lavender);
$ratio-width: 190px;
$ratio-height: 110px;
$hex-ratio: calc-ratio($ratio-width, $ratio-height);
$hex-width: 190px;
$hex-height: calc-height($hex-width, $hex-ratio);
$hex-margin: 25px;

// --------------------------------------------------
// speakers
// --------------------------------------------------
$speakers: (aaron-gustafson,
            abby-covert,
            adam-hunter,
            alex-gaynor,
            allison-house,
            angel-anderson,
            anton-repponen,
            ben-lehnert,
            brad-weaver,
            cat-noone,
            chris-coyier,
            clarissa-peterson,
            claudina-sarahe,
            clinton-dreisbach,
            christy-harner,
            dan-denny,
            darcy-clarke,
            diana-lucaci,
            eric-m-suzanne,
            garrett-johnson,
            greg-hoy,
            heather-oneill,
            heather-payne,
            irene-pereyra,
            j-cornelius,
            jason-toth,
            jason-hunter,
            jen-myers,
            jen-simmons,
            jennifer-pahlka,
            jessie-shternshus,
            julia-elman,
            kimberly-bryant,
            laura-helen-winn,
            leah-silber,
            lisa-maria-martin,
            mark-boulton,
            mark-geyer,
            mark-shropshire,
            mark-wilson,
            martha-girdler,
            melissa-avery-weir,
            michael-labriola,
            michelle-salater,
            michelle-yaiser,
            mike-monteiro,
            moses-ngone,
            netta-marshall,
            nicole-fenton,
            nora-richardson,
            pamela-pavliscak,
            paul-boag,
            paul-trani,
            rachel-ober,
            rebecca-murphey,
            scott-stroud,
            scott-hanselman,
            scott-hanselman,
            sophie-shepherd,
            sougwen-chung,
            stacey-mulcahy,
            steve-klabnik,
            tiffany-chu,
            val-head
);


// --------------------------------------------------
// z-index
// --------------------------------------------------
$z-index-dropdown:          1000 !default;
$z-index-popover:           1010 !default;
$z-index-tooltip:           1020 !default;
$z-index-fixed:             1030 !default;
$z-index-modal-background:  1040 !default;
$z-index-modal:             1050 !default;

