footer role="contentinfo"
  p &copy #{copyright_years(2013)} BlendConf, LLC. All rights reserved. Follow <a href="http://twitter.com/blendconf" data-type="Twitter">@blendconf</a> or email us at <a href="mailto:hello@blendconf.com" data-type="Email">hello@blendconf.com</a>. <br />Organized by <a href="http://bermonpainter.com" data-type="External">Bermon Painter</a>. Find an error or want to add something? Pull requests are welcome over on <a href="https://github.com/bpainter/blendconf.com" data-type="External">GitHub</a>.
  p
    |A couple of important items that we can't forget like the
    == link_to ' refund policy ', 'refund-policy.html'
    | and
    == link_to ' code of conduct', 'code-of-conduct.html'
