// ------------------------------------------------------------
// Mixins
// ------------------------------------------------------------
@mixin diamond($size, $color, $type, $position:"") {
  @if $type == "outline" {
    border: 1px solid $color;
  }
  @if $type == "solid" {
    background-color: $color;
  }
  @if $type == "solid-outlined" {
    background-color: $color;
    border: 1px solid rgba($text-color, .5);
  }
  @if $position == "relative" {
    margin-top: -($size/2);
    position: absolute;
      top: 50%;
      left: 0;
  }
  @if $position == "centered" {
    margin-top: -($size/2);
    margin-left: -($size/2);
    position: absolute;
      top: 0;
      left: 50%;
  }
  @include rotate(-45deg);
  @include transform-origin(0 100%);
  content: "";
  display: inline-block;
  height: $size;
  width: $size;
}

// ------------------------------------------------------------
//
// ------------------------------------------------------------
.container {
  position: relative;
}

section[role="main"] {
  @include span(9 of 12);
  @include omega;
}

// ------------------------------------------------------------
// Sidebar
// ------------------------------------------------------------
.sidebar {
  background-color: #fff;
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  z-index: 10;
  width: span(3 of 12);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
nav[role="navigation"] {
  a {
    position: relative;
    &:before {

    }
  }
}
