---
title: Blend Conference 2014 - Super Secret Unicorn Tickets
id: unicorn-tickets
---

== image_tag 'content/blend-conference-logo.png', :alt => 'Blend Conference'

h1 Super Secret Unicorn Tickets

p This is a super secret pass for BlendConf 2013 attendees. We'll be increasing the price a bit next year. We want to be able to up the quality of the conference just a little more and be able to pay our speakers for their time and the work it takes to create their presentations. To make that happen we'll up the price to $549.

p For you, the folks that supported us for our very first year, we have 100 tickets available at the original price of $349. After each week the price will slowly increase $50.

a.button href="https://tito.io/blendconf/blendconf2014?release_id=wgfzxwo-8jo" Purchase a ticket