---
title: Code of Conduct - Blend Conference, Charlotte, NC
backURL: ~
id: basic-content
---

img src="assets/images/content/blend-conference-logo.png" alt="Blend Conference" /

h1 Code of Conduct

p BlendConf is a community conference intended to allow folks that work on the web, or folks that would like to work on the web ways to network, to collaborate and help grow our communities.

p We value the participation of each member of the community and want everybody to have an enjoyable experience, fill your days with meaningful conversations and get to know your peers and possibly some of your heroes. All attendees, volunteers, and sponsors are expected to show respect and courtesy to others throughout the conference and at all conferences events.

p To understand what's expected we've outlined the following Code of Conduct. Organizers will enforce this code throughout the event.

h2 Quick, Concise Version

p BlendConf will be a conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. Harassment will not be tolerated in any form.

ul
	li This is a professional conference, with industry professionals, newcomers and, we think, some downright amazing folks. Language or imagery that's sexual in nature or has sexual overtones or innuendos are not appropriate, even in conference talks.
	li Be kind. BlendConf is full of some of the best human beings you will encounter. Treat everyone as such. 
	li No harassing, sexist, racist or exclusionary jokes.

p If you violate the code of conduct you will be escorted off of conference grounds by hotel security and no refund will be given. 

h2 The Long Version

p Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.

p Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.

p If a participant engages in harassing behavior, the conference organizers will take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. 

h2 If There's a Problem

p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by t-shirts and special badges.

p Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference.

p You can call or text Bermon Painter directly at (704) 759-6496.

p This anti-harassment policy is based on the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki</a>, created by the Ada Initiative and other volunteers.