---
title: Venue and Things to do in Charlotte
description: "Blend Conference will be held at the Charlotte Sheraton Hotel. Reservations can be made by calling 1-800-325-3535. Mention that you are booking for Blend Conference."
socialImage: blendconf-social-banner.jpg
id: venue-activities
---
#masthead
  h1 The Venue

article.basic-content

  h2 Classic <b>Venue & Hotel</b> in Downtown Charlotte

  p The conference will be held at The <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3986&language=en_US">Charlotte Sheraton Hotel</a>. The room block has expired but they should still have room. To make a reservation call their reservations desk 1-800-325-3535 and let them know you're booking a room for "Blend Conference".
